---
layout: layouts/base.njk
title: "Fine Art"
description: "Fine art portfolio by Elizabeth Arnau."
permalink: /fine-art/index.html
scripts:
  - jquery.min.js
---
<div class="art-grid">
<a href="/assets/images/2020/05/Breakfast_at_Tiffanies-Elizabeth_Arnau_.jpg"><img src="/assets/images/2020/05/Breakfast_at_Tiffanies-Elizabeth_Arnau_.jpg" alt=""></a>
<a href="/assets/images/2020/05/Breakfast_at_Tiffanies_Elizabeth_Arnau-1.jpg"><img src="/assets/images/2020/05/Breakfast_at_Tiffanies_Elizabeth_Arnau-1.jpg" alt=""></a>
<a href="/assets/images/2020/05/Breakfast_at_Tiffanies2020.jpg"><img src="/assets/images/2020/05/Breakfast_at_Tiffanies2020.jpg" alt=""></a>
<a href="/assets/images/2020/09/Redbird_lady_Elizabeth_Arnau_Fashion_Illustration_1.jpg"><img src="/assets/images/2020/09/Redbird_lady_Elizabeth_Arnau_Fashion_Illustration_1.jpg" alt=""></a>
<a href="/assets/images/2020/09/Redbird_lady_Elizabeth_Arnau_Fashion_Illustration_LW.jpg"><img src="/assets/images/2020/09/Redbird_lady_Elizabeth_Arnau_Fashion_Illustration_LW.jpg" alt=""></a>
<a href="/assets/images/2020/05/Audrey_Funny_face_Elizabeth_Arnau.jpg"><img src="/assets/images/2020/05/Audrey_Funny_face_Elizabeth_Arnau.jpg" alt=""></a>
<a href="/assets/images/2020/05/fashionyellow_Elizabeth_Arnau-.jpg"><img src="/assets/images/2020/05/fashionyellow_Elizabeth_Arnau-.jpg" alt=""></a>
<a href="/assets/images/2020/05/fashionred_Elizabeth_Arnau-.jpg"><img src="/assets/images/2020/05/fashionred_Elizabeth_Arnau-.jpg" alt=""></a>
<a href="/assets/images/2020/05/Revenge-ElizabethArnau_.jpg"><img src="/assets/images/2020/05/Revenge-ElizabethArnau_.jpg" alt=""></a>
<a href="/assets/images/2020/05/fashiongreen_Elizabeth_Arnau-.jpg"><img src="/assets/images/2020/05/fashiongreen_Elizabeth_Arnau-.jpg" alt=""></a>
<a href="/assets/images/2020/05/fineartprofile-scaled.jpg"><img src="/assets/images/2020/05/fineartprofile-scaled.jpg" alt=""></a>
<a href="/assets/images/2020/05/nude4_framed_ElizabethArnau-scaled.jpg"><img src="/assets/images/2020/05/nude4_framed_ElizabethArnau-scaled.jpg" alt=""></a>
<a href="/assets/images/2020/05/horseA1marco_lw-scaled.jpg"><img src="/assets/images/2020/05/horseA1marco_lw-scaled.jpg" alt=""></a>
<a href="/assets/images/2020/05/Vogue_yellow_ElizabethArnau-scaled.jpg"><img src="/assets/images/2020/05/Vogue_yellow_ElizabethArnau-scaled.jpg" alt=""></a>
<a href="/assets/images/2020/05/Vogue_cover_Penelope_Cruz_Elizabeth_Arnau-scaled.jpg"><img src="/assets/images/2020/05/Vogue_cover_Penelope_Cruz_Elizabeth_Arnau-scaled.jpg" alt=""></a>
<a href="/assets/images/2020/05/Vogue_Karlie_Kloss_Elizabet_Arnau-scaled.jpg"><img src="/assets/images/2020/05/Vogue_Karlie_Kloss_Elizabet_Arnau-scaled.jpg" alt=""></a>
<a href="/assets/images/2020/05/vogue_A1_59x84-scaled.jpg"><img src="/assets/images/2020/05/vogue_A1_59x84-scaled.jpg" alt=""></a>
<a href="/assets/images/2020/05/Revenge-ElizabethArnau-1.jpg"><img src="/assets/images/2020/05/Revenge-ElizabethArnau-1.jpg" alt=""></a>
<a href="/assets/images/2020/07/Rouge_ElizabethArnau_lw.jpg"><img src="/assets/images/2020/07/Rouge_ElizabethArnau_lw.jpg" alt=""></a>
<a href="/assets/images/2020/07/Rouge_ElizabethArnau_lw2.jpg"><img src="/assets/images/2020/07/Rouge_ElizabethArnau_lw2.jpg" alt=""></a>
<a href="/assets/images/2020/05/RougeDoux-ElizabethArnau.jpg"><img src="/assets/images/2020/05/RougeDoux-ElizabethArnau.jpg" alt=""></a>
<a href="/assets/images/2020/06/Madmoiselle_Elizabeth_Arnau.jpg"><img src="/assets/images/2020/06/Madmoiselle_Elizabeth_Arnau.jpg" alt=""></a>
<a href="/assets/images/2020/06/Madmoiselle_Decor.jpg"><img src="/assets/images/2020/06/Madmoiselle_Decor.jpg" alt=""></a>
<a href="/assets/images/2020/05/ElizabethArnau_hautecouture2-scaled.jpg"><img src="/assets/images/2020/05/ElizabethArnau_hautecouture2-scaled.jpg" alt="Hautecouture"></a>
<a href="/assets/images/2020/07/LeCouture_ElizabethArnau_lw.jpg"><img src="/assets/images/2020/07/LeCouture_ElizabethArnau_lw.jpg" alt=""></a>
<a href="/assets/images/2020/05/VoguePink-ElizabethArnau-.jpg"><img src="/assets/images/2020/05/VoguePink-ElizabethArnau-.jpg" alt=""></a>
<a href="/assets/images/2020/05/Chanel_by_Elizabeth_Arnau.jpg"><img src="/assets/images/2020/05/Chanel_by_Elizabeth_Arnau.jpg" alt=""></a>
<a href="/assets/images/2020/07/ElizabethArnau_HauteCoture2_lw.jpg"><img src="/assets/images/2020/07/ElizabethArnau_HauteCoture2_lw.jpg" alt=""></a>
<a href="/assets/images/2020/07/ElizabethArnau_HauteCouture2b.jpg"><img src="/assets/images/2020/07/ElizabethArnau_HauteCouture2b.jpg" alt=""></a>
<a href="/assets/images/2020/06/Wave2_Elizabeth_Arnau.jpg"><img src="/assets/images/2020/06/Wave2_Elizabeth_Arnau.jpg" alt=""></a>
<a href="/assets/images/2020/06/TheWave_BNW3.jpg"><img src="/assets/images/2020/06/TheWave_BNW3.jpg" alt=""></a>
<a href="/assets/images/2020/07/Introspective_Decor2_lw.jpg"><img src="/assets/images/2020/07/Introspective_Decor2_lw.jpg" alt=""></a>
<a href="/assets/images/2020/07/Introspective_Decor_lw.jpg"><img src="/assets/images/2020/07/Introspective_Decor_lw.jpg" alt=""></a>
<a href="/assets/images/2020/09/KissDarkness1.jpg"><img src="/assets/images/2020/09/KissDarkness1.jpg" alt=""></a>
<a href="/assets/images/2020/09/Kiss_of_Darkness_Elizabeth_Arnau_bedroom_home_decor.jpg"><img src="/assets/images/2020/09/Kiss_of_Darkness_Elizabeth_Arnau_bedroom_home_decor.jpg" alt=""></a>
<a href="/assets/images/2020/09/DUO_catwalk_Elizabeth_Arnau_Fashion_Illustration.jpg"><img src="/assets/images/2020/09/DUO_catwalk_Elizabeth_Arnau_Fashion_Illustration.jpg" alt=""></a>
<a href="/assets/images/2020/09/Seduction_Elizabeth_Arnau_bedroom_home_decor.jpg"><img src="/assets/images/2020/09/Seduction_Elizabeth_Arnau_bedroom_home_decor.jpg" alt=""></a>
<a href="/assets/images/2020/05/Rougelips_ElizabethArnau.jpg"><img src="/assets/images/2020/05/Rougelips_ElizabethArnau.jpg" alt=""></a>
</div>

<style>
.art-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px 40px 60px;
}
.art-grid a{ display: block; }
.art-grid img{
  width: 100%;
  height: auto;
  display: block;
}
@media (max-width: 600px){
  .art-grid{ padding: 20px; }
}
</style>
{% include "partials/art-lightbox.html" %}
